name: Go

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Version"
        required: true
        type: string

jobs:
  build:
    strategy:
      matrix:
        goos: [linux]
        goarch: [amd64]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25.3"

      - name: Make release dir
        run: mkdir go-release

      - name: Build
        run: go build -ldflags="-s -w" -trimpath -v -o go-release/portlink-${{ matrix.goos }}-${{ matrix.goarch }}
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag_name }}
          files: |
            go-release/*
          name: Release ${{ github.event.inputs.tag_name }}
